//IMPORTS//
@import "./_external_sources.scss";
@import "./variables";
@import "./_body.scss";
@import "./_navbarSX.scss";
@import "./_buttons.scss";
@import "./_navbarDX.scss";
@import "./_player.scss";




@media  screen and (min-width: 50px) and (max-width:767px) {

    #row{
        display:flex;
        flex-direction: column !important
    }
#first-card{
    display:none !important
}
#img-center{
    margin: 0 auto !important;
}
#id-buonasera{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto !important;
    
    
}


#id-altro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto !important;
    
    a{
        width: 100%;
        margin-left: 1rem;
    }
}


#buonasera{
    width: 20rem !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    align-items: center !important;
    h5{
        margin-top: 20px !important;
    }
}
#card-altro{
    width: 20rem !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    align-items: center !important;
    h5{
        margin-top: 20px !important;
    }
}

    #column-sx {
        display: none;

    }
    #center-column{
        order: 3;
        margin: 0 auto;

        width: 100%;

    }
    #SidebarDX{
        
        display: none;

    }

    #row{
        display:flex;
        flex-direction: column;
        justify-content: center;

        background-color: rgb(67, 66, 66) !important;
        width: 100%;
        text-align: center;
margin: 0 auto;
    }
    #column-sx article {
        order: 1;
        height: 20% !important;
        display: flex;
        flex-direction: row;
        

    }



    #column-sx{
        display: none;

    }
    #center-column{
        order: 3;
        margin: 0 auto;

        width: 100%;

    }
    #SidebarDX{
        
        display: none;

    }



    
 
    
}

@media  screen and (min-width:768px) and (max-width:1199px) {
    #row{
        display:flex;
        flex-direction: column;
        justify-content: center;

        background-color: rgb(67, 66, 66) !important;
        width: 100%;
        text-align: center;
margin: 0 auto;
    }
    #column-sx article {
        order: 1;
        height: 20% !important;
        display: flex;
        flex-direction: row;
        

    }



    #column-sx{
        display: none;

    }
    #center-column{
        order: 3;
        margin: 0 auto;

        width: 100%;

    }
    #SidebarDX{
        
        display: none;

    }
    
    
}

@media  screen and (min-width:1200px)  {
    #row{
        display:flex;
        flex-direction: row
    }
    #column-sx {
        order: 1;

    }
    #center-column{
        order: 2;

    }
    #SidebarDX{
        

    }
    
}